<p>invoice-detail works!</p>
<div>
    <h2>Invoice Detail</h2>
    <form (submit)="fetchInvoiceDetails()">
      <label for="invNum">Invoice Number:</label>
      <input id="invNum" [(ngModel)]="invNum" name="invNum" required>
  
      <label for="invTerm">Invoice Term:</label>
      <input id="invTerm" [(ngModel)]="invTerm" name="invTerm" required>

      <label for="randomNumber">Invoice Term:</label>
      <input id="randomNumber" [(ngModel)]="randomNumber" name="randomNumber" required>
  
      <button type="submit">Fetch Details</button>
    </form>
  
    <mat-card *ngIf="responseData" class="response-card">
        <mat-card-header>
          <mat-card-title>Response Data</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <pre>{{ responseData | json }}</pre>
        </mat-card-content>
    </mat-card>
  </div>
