.response-card {
    margin: 20px;
  }
  
.invoice-detail {
margin-bottom: 20px;
}

.quantity {
float: right;
}

mat-list-item {
display: flex;
justify-content: space-between;
}

mat-divider {
margin: 10px 0;
}